body {
  background-color: #FBFBFF;
}


.job-list-container {
  padding: 20px 50px;
}

.jobs-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.job-card {
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0px 0px 14px rgba(211, 211, 211, 0.15);
  padding: 20px;
  position: relative;
}

.job-card img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.posted {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #B0D9FF;
  opacity: 0.8;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 1rem;
  color: black;
  font-weight: 500;
}

.job-card p {
  margin-top: 10px;
}

.details {
  display: flex;
  gap: 20px;
  font-size: 1rem;
  color: #555555;
  margin: 10px 0;
  font-weight: 500;
}

.job-card p {
  font-size: 1rem;
  color: #555555;
  font-weight: 500;
}

.apply-btn {
  margin-top: 10px;
  background-color: #00AAFF;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #00AAFF;
  box-shadow: 0px 0px 14px rgba(93, 93, 93, 0.15);
  border-radius: 10px;
  font-weight: 500;
}

img {
  object-fit: contain;
  display: block;
}

.logo {
  height: 90px !important;
  width: 90px !important;
}

.title {
  font-weight: 700 !important;
  font-size: 1.5rem !important;
  color: #000000 !important;
}

.job-description{
  font-size: 1.1rem !important;
  margin-top: 20px !important;
}

.forIcon{
  font-size: 1.5rem;
}

svg{
  width: 25px;
  height: 25px;
}

.alert-message {
  color: red;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  grid-column: 1 / -1;
  margin-top: 30px;
}

.forNewJob{
    font-size: 1.1rem!important;
}